.footer {
    margin: 67px auto 60px auto;
    max-width: 880px;
  }

  @media screen and (min-width: 320px) and (max-width: 700px) {
    .footer {
        width: 88%;
        margin: 48px auto 36px auto;
    }
  }